/*  Coded using Sass. Author: Bart Olsthoorn */

@import "html5reset";

@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

body {
	background-image: url("../images/grid.png");
	background-repeat: repeat;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
}
div#top {
	width: 100%;
	height: 6px;
	background-image: url("../images/top.png");
	background-repeat: repeat-x;
}
div#wrapper {
	margin-top: 45px;
	margin-left: 40px;
	padding-bottom: 70px; /* 70 and 228 */
}
header {
	margin-bottom: 40px;
}
menu {
	margin-top: 50px;
	margin-bottom: 20px;
	li {
		list-style: none;
		display: block;
		width: 73px;
		height: 32px;
		padding-top: 9px;
		float: left;
		text-align: center;
	}
	li.l {
		width: 50px;
	}
	li.last {
		width:  115px;
	}
	li.current {
		background-image: url("../images/menu/menu-b.png");
	}
	li.current2 {
		background-image: url("../images/menu/menu-b2.png");
	}
}

p.big, p.subbig {
	font-size: 25px;
	color: black;
	font-weight: lighter;
	/*line-height: 35px;*/
	span {
		font-weight: normal;
		font-style: italic;
	}
}
p.subbig {
	/*font-size: 20px;
	margin-top: 20px;*/
}

.placeholder {
	color: #c0c0bc;
}

p {
	a, a:visited, a:active {
		color: #6a9f1c;
		text-decoration: underline;
	}
}
p.error {
	color: red;
	font-weight:bold;
}
/*footer {
	
	height: 228px;
	width: 100%;
}*/
div#bar {
	width: 100%;
	height: 191px;
	background-image: url("../images/bar.png");
	background-repeat: repeat-x;
	position: fixed;
	bottom: -121px; /* 37 and -121 */
}

div#bar {
	section {
		float: left;
		p {
			color: white;
			font-size: 12px;
			line-height: 20px;
			font-style: italic;
			font-weight: lighter; 
			a {
				color: #fff600;
				font-style:normal;
				text-decoration: none;
				&:hover {
					color: #fff600;
					text-decoration: underline;
				}
			}
		}
		h3 {
			font-size: 13px;
			text-transform: uppercase;
			font-weight:lighter;
			line-height: 33px;
			margin-bottom: 14px;
		}
	}
	div#arrow {
		float: right;
		width: 29px;
		height: 30px;
		background-image: url("../images/footer-arrow.png");
		margin-top:-28px;
		margin-right: 15px;
		cursor: pointer;
	}
	section#wiki h3 {
		color: #fff600;
	}
	section#music h3 {
		color: #e7e1d3;
	}
	section#people h3 {
		color: #ff8cad;
		text-align: right;
	}
	section#wiki {
		margin-left: 40px;
		width: 335px;
	}
	section#music {
		margin-left: 25px; /* 400 */
		width: 180px;
	}
	section#people {
		width: 400px;
	}
}

#activity {
	height: 120px;
	overflow: scroll;
}
.tweet_odd {
	background-color: #af2d57;
	@include rounded(10px);
}
.tweet_list {
	margin-left: 0px;
	margin-right: 25px;
	li {
		list-style: none;
		color: #f2dee2;
		font-size: 12px;
		line-height: 20px;
		padding: 10px;
		a {
			text-decoration: underline;
			color: #ff8cad;
		}
	}
}

footer {
	width: 100%;
	height: 37px;
	background-image: url("../images/bottom.png");
	background-repeat: repeat-x;
	position: fixed;
	bottom: 0px;
	z-index: 10;
	font-size: 12px;
	color: #928d7f; /* #302d20 */
	text-transform: uppercase;
	line-height:41px;
	padding-left: 40px;
}

#contact-page {
	width: 477px;
	margin: 0 auto;
	text-align: center;
	font-size: 15px;
	line-height: 25px;
	font-weight: lighter;
	color: #454545;
	
	#output-form {
		clear: both;
		p {
			font-size: 12px;
			line-height: 14px;
			margin-top: 10px;
		}
	}
	
	.col1, .col2 {
		float: left;
		width: 245px;
		margin-top: 22px;
		input {
			font-size: 12px;
			font-family: Arial;
			border:0;
			display: block;
			background-image: url("../images/input-bg.png");
			background-repeat: no-repeat;
			padding: 11px;
			width: 212px;
			margin-bottom: 14px;
		}
	}
	.col2 {
		width: 230px;
	}
	textarea {
		font-size: 12px;
		font-family: Arial;
		border:0;
		display: block;
		clear: both;
		background-image: url("../images/textarea-bg.png");
		width: 455px;
		max-width: 455px;
		height: 85px;
		max-height: 85px;
		padding: 11px;
	}
	#contact-logo {
		margin-bottom: 50px;
	}
	#contact-form {
		text-align: left;
		margin-top: 40px;
	}
	input#send-btn {
		float: right;
		color: #302d20;
		font-family: Arial;
		background-color: transparent;
		margin-top: 10px;
		font-size: 12px;
		line-height: 30px;
		border: 0px none;
		font-weight: bold;
		&:hover {
			background-color: transparent;
			border: 0px none;
		}
	}
	h2 {
		font-size: 25px;
		font-weight: inherit;
		line-height: 25px;
	}
	a {
		color: #a21540;
		padding: 0 3px;
		text-decoration: none;
		border-bottom: 1px solid #a21540;
	}
	a:hover {
		background-color: #a21540;
		color: white;
		text-decoration: none;
		border-bottom: 1px dotted #FFFF00;
	}
}
#posts {
	width: 675px;
	float: left;
}
#side {
	width: 226px;
	float: left;
	margin-left: 35px;
	
	.widget-top {
		background-image: url("../images/widget-top.png");
	}
	.widget-bot {
		background-image: url("../images/widget-bottom.png");
	}
	.widget-mid {
		width: 100%;
		background-image: url("../images/widget-b.png");
		background-repeat: repeat-y;
		padding-left: 25px;
		padding-top: 15px;
		padding-bottom: 15px;
		ul li {
			font-size: 12px;
			color: #454545;
		}
		h4 {
			color: #66a025;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	.widget-top, .widget-bot {
		background-repeat: repeat-x;
		height: 6px;
		width: 100%;
	}
}

div.work-categories {
	a {
		color: #302d20;
		font-weight: bolder;
		text-decoration: none;
		padding: 2px;
		font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
		outline: 0;
	}
	a.current {
		color: #66a025;
	}
	a:hover {
		/*color: white;*/
		/*background-color: #302d20;*/
		border-bottom: 1px dotted #302d20;
	}
	a.current:hover {
		/*color: white;*/
		border-bottom: 1px dotted #66a025;
	}
	background-image: url("../images/dottedlines.png");
	background-repeat: repeat-x;
	width: 100%;
	height: 43px;
	line-height: 43px;
	margin-bottom: 15px;
	font-size: 12px;
	text-transform: uppercase;
	padding-left: 1px;
}
div.work-item {
	width: 220px;
	height: 170px;
	float: left;
	overflow: hidden;
	margin-right: 20px;
	margin-bottom: 20px;
	img {
		float: left;
	}
	div.work-content {
		width: 800px;
	}
}
div.work-container {
	width: 940px;
	.works {
		width: 1000px;
	}
}
article {
	section.top {
		background-image: url("../images/dottedlines.png");
		background-repeat: repeat-x;
		width: 100%;
		height: 43px;
		line-height: 43px;
		margin-bottom: 15px;
		
		h3 {
			margin-left: 3px;
			float: left;
			display: block;
			color: #66a025;
			font-size: 12px;
		}
		span {
			float: right;
			display: block;
			color: #9b9b9b;
			text-transform: uppercase;
			margin-right:1px;
		}
	}
	section.mid {
		font-size: 12px;
		color: #302d20;
		line-height: 20px;
		p {
			font-weight: lighter;
			padding-bottom: 25px;
		}
	}
	section.bot {
		font-size: 10px;
		color: #adadad;
		text-transform: uppercase;
		/*margin-top: 25px;*/
		
		span.author {
			color: #66a025;
		}
		span.category {
			color: #a41440;
		}
	}
}

h1 {
	color: #66a025;
	font-size: 16px;
	font-weight: lighter;
	margin-bottom: 10px;
}
ul.blinks {
	list-style: square;
	a {
		color: #a21540;
		padding: 0 3px;
		text-decoration: none;
		border-bottom: 1px solid #a21540;
	}
	a:hover {
		background-color: #a21540;
		color: white;
		text-decoration: none;
		border-bottom: 1px dotted #FFFF00;
	}
}
table.crud {
	td {
		padding: 5px;
	}
	tr:first-child {
		background-image: url("../images/dottedlines.png");
		height: 43px;
		line-height: 43px;
		color: #302D20;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: bolder;
	}
}
img.labelimage {
	margin-bottom: -3px;
}
div.list-image {
	float: left;
	margin-right: 20px;
}

form {
	clear: both;
	div.field {
		padding-bottom: 10px;
		label {
			padding-bottom: 3px;
			display: block;
		}
		input, textarea {
			font-weight: normal;
			border: 3px solid #c0d7a3;
			padding: 5px;
			font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
		}
	}
	div.fieldleft, div.fieldright {
		float: left;
		width: 400px;
	}
	div.fieldleft {
		margin-right: 30px;
	}
	div.actions { 
		input[type="submit"] {
	    -moz-border-radius: 5px 5px 5px 5px;
	    background-position: 0 -200px;
	    font-size: 15px;
	    line-height: 20px !important;
	    padding: 5px 15px 6px;
			background: url("../images/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
			border-color: #DDDDDD #DDDDDD #CCCCCC;
	    border-style: solid;
	    border-width: 1px;
	    color: #333333;
	    cursor: pointer;
	    font: 11px/14px "Lucida Grande",sans-serif;
	    margin: 0;
	    overflow: visible;
	    padding: 4px 8px 5px;
	    text-shadow: 1px 1px 0 #FFFFFF;
	    width: auto;
		}
		input[type="submit"]:hover {
			background-position: 0 -6px;
	    border-color: #999999 #999999 #888888;
	    color: #000000;
	    text-decoration: none;
		}
	}
}

a.btn {
	-moz-border-radius: 5px 5px 5px 5px;
  background-position: 0 -200px;
  font-size: 15px;
  line-height: 20px !important;
  padding: 5px 15px 6px;
	background: url("../images/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
	border-color: #DDDDDD #DDDDDD #CCCCCC;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  cursor: pointer;
  font: 11px/14px "Lucida Grande",sans-serif;
  margin: 0;
  overflow: visible;
  padding: 4px 8px 5px;
  text-shadow: 1px 1px 0 #FFFFFF;
  width: auto;
}
a.btn:hover {
	background-position: 0 -6px;
  border-color: #999999 #999999 #888888;
  color: #000000;
  text-decoration: none;
}

#recaptcha_box {
	float: left;
	margin-left: -3px;
	margin-top: 5px;
}
p.rt {
	background-color: transparent;
	border: 0 none;
  color: #302D20;
  font-size: 12px;
	padding-left: 15px;
}


@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; } 
}


@import "jscrollpane";
