<div id="contact-page">
		<img src="/images/logo-small.png" alt="Logo" id="contact-logo" />
		<p><a href="/" title="Bart's website.">www.bartolsthoorn.nl</a></p>
		<p>Twitter: <a href="http://twitter.com/bartolsthoorn" title="Twitter Bart Olsthoorn.">@bartolsthoorn</a></p>
		<p>Email: <a href="mailto:bart.olsthoorn@gmail.com" title="Email Bart Olsthoorn.">bart.olsthoorn@gmail.com</a></p>
		
		<section id="contact-form" class="clearfix">
		<h2>Get in touch!</h2>
		<% if @showForm %>
		<form action="/contact" method="post">
		<div class="col1">
			<input type="text" placeholder="Name" name="name">
			<input type="text" placeholder="Company" name="company">
		</div>
		<div class="col2">
			<input type="text" placeholder="Email" name="email">
			<input type="text" placeholder="Phone number" name="phonenumber">
		</div>
		<textarea placeholder="Message" name="message"></textarea>
		<% end %>
		<div id="output-form">
		<% 
		if @outputForm 
			if @errorForm
		%>
			<p class="error"><%=@outputForm%> (press the back button of your browser)</p>
		<% 
			else
		%>
			<p><%=@outputForm%></p>
		<%
			end
		end 
		%>
		</div>
		
		<% if @showForm %>
		<div id="recaptcha_box">
			<p class="rt">Please help me keep my inbox clean:</p>
		<%= recaptcha_tags %>
		</div>
		<input type="submit" id="send-btn" href="#" value="send ›">
		</form>
		<% end %>
		<br style="clear: both;"><br>
		</section>
</div>